html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal 85% Arial, Helvetica, sans-serif;
  background: #676767 url(../images/background.jpg) repeat;
  color: #000;
}

p
{ padding: 0 0 10px 0;
  color: #FFF;
  line-height: 1.7em;
  font-size: 100% }

img
{ border: 0;}

h1, h2, h3, h4, h5, h6
{ font: normal 175% Arial, Helvetica, sans-serif;
  color: #FFF;
  text-shadow: 1px 1px #1D1D1D;
  letter-spacing: .4px;
  margin: 0 0 10px 0;}

h2
{ font: normal 165% Arial, Helvetica, sans-serif;}

h3
{ font: normal 130% Arial, Helvetica, sans-serif;
margin: 0px 0 0px 0 	px;
letter-spacing: .3px;
}

h4, h5, h6
{ margin: 0;
  padding: 0 0 0px 0;
  font: normal 150% Arial, Helvetica, sans-serif;
  line-height: 1.5em;}

h5, h6
{ font: normal 95% Arial, Helvetica, sans-serif;
  color: #888;
  padding-bottom: 15px;}

h4
{
	color: #DDF700;
	text-shadow: 2px 2px #000000;
	letter-spacing: 2px;
}
a
{ color: #FFF;
  font-weight: bold;
  background: transparent;
  text-decoration: underline;}

a:hover
{ text-decoration: none;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font: normal 130% Arial, Helvetica, sans-serif;
 text-shadow: 1px 1px #1D1D1D;
  letter-spacing: .3px;

  color: #FFFFFF}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main,  #menubar, #site_content
{ margin-left: auto;
  margin-right: auto;}

#menubar
{ width: 820px;
  height: 50px;
  text-align: center;
  background: #000000;
  opacity:.90;
  }

#welcome H1
{ font: normal 800% Arial, Helvetica, sans-serif;
  letter-spacing: .4px;
  color: #cfcfcf;
  text-shadow: 3px 3px #000000;
}

ul#menu
{ margin:0;
  margin: 0 0 0 20px;}

ul#menu li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#menu li a
{ float: left;
  font: bold 120% Arial, Helvetica, sans-serif;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  height: 24px;
  padding: 16px 20px 10px 20px;
  background: transparent; }

#site_content
{ width: 800px;
  padding-left: 20px;
  overflow: hidden;
  margin: 0 auto;
  background: #000000;
  opacity:.85;
  }

.content_item
{ width: 780px;
  margin-top: 20px;
  margin-bottom: 20px;}
